@font-face {
  font-family: "HARRYP";
  src: url("./assets/MagicOwl.otf");
}

@font-face {
  font-family: "MochiyPopOne";
  src: url("./assets/MochiyPopOne.ttf");
}

* {
  font-family: "MochiyPopOne", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "HARRYP", sans-serif;
}

body {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  margin-top: 8rem;
  justify-content: center;
  height: 100vh;
  /* width: 100vw; */
}

h1 {
  font-size: 3.5rem;
}
